#A{background-color: rgb(204, 204, 255); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
#B h2{background-color: rgb(157, 204, 251); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
#B p{text-align: center}
#C h2{background-color: rgb(15, 175, 255);font-family: 'Courier New', Courier, monospace}
#C p{text-align: center}
#D h2{background-color: lightgoldenrodyellow}
#D p{text-align: center}
#E h2{background-color:lightpink}
#E p{text-align: center}
.boton:hover, boton:active {background-color: lightblue; color: darkviolet}
#web{background-color: lightcoral}
#F h2{background-color: mediumpurple}
#F p{text-align: center; font-family: monospace}
#G h2{background-color: salmon}